{# templates/_layout.html #}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Self Service</title>

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            {% block content %}{% endblock %}
        </div>
        <div class="hero-foot"></div>
    </section>
    <script src="/js/app.js"></script>
</body>

</html>