{% extends '_layout.html' %}

{% block content %}
<div class="container">
    <div class="box is-shadowless">
        <div class="content has-text-centered">
            <h1 class="title is-4">Need to set your password?</h1>
            <p class="subtitle is-7">Enter the email address associated with your account<br>and a one-time reset code will be sent to you.</p>
        </div>
        <div class="field pt-5">
            <label class="label is-size-7">Email Address</label>
            <div class="control">
                <input id="email" class="input is-small is-normal" type="email" placeholder="example@email.com" autocomplete="off">
            </div>
        </div>
        <div class="field mt-5">
            <div class="control">
                <button id="request-submit" class="button is-small is-primary is-fullwidth" onclick="request()">Request Reset Link</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}