*{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, p, label{
    color: #183153 !important;
}

.button.is-primary{
    color: #fff;
    background-color: #183153;
}

.button.is-primary:hover{
    background-color: #1a3264;
}

.box{
    max-width: 375px;
    margin: auto;
}

.input{
    box-shadow: none;
}